@media all and (max-width: 576px){
    /* Билеты */
    .bileti_ob{
        font-size: 30px;
        text-align: center;
        padding-top: 20px;
    }
    .bileti_lgota{
        font-size: 30px;
        text-align: center;
        font-style: italic;
        
    }
    .lgota_perechislenie{
        font-size: 20px;
        text-align: center;
        font-style: italic;
        
    }
    .lgota_mogty{
        font-size: 20px;
        text-align: center; 
    
        
    }
/* экспозиции */
.maket_png{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 5px;
    width: 350px;
}
.video{
    padding-bottom:2%;
    display: flex;
  justify-content: center;
}
.video iframe{
    width: 450px;
    height: 300px;
    
}
.maket_png_2{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 15px;
    width: 800px; 
}
/* главная */
.omyzee{
    font-size: 30px;
    text-align: justify;
    margin-left: 40px;
    margin-right: 40px;
    text-indent: 50px; 
    padding-bottom: 10px;
    padding-top: 20px;
   }
.omyzee_img{
    width: 600px;
    padding: 5px;
    
   }
   .glavnaya_photo{
width: 80%;
margin-left: auto;
margin-right: auto;
   }
.omyzee_img_flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom:2%;
   }  
   /* хедер и бади */
   body {  
    background-image: url(../image/fon.jpg);
    background-position: left bottom;
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed;
   font-family: 'Rubik', sans-serif;
   } 
.fon{
    width: 90%; 
     margin:auto;
     background-color: rgb(242,221,168);
     -webkit-box-shadow: 0px 0px 11px 15px rgba(34, 60, 80, 0.26) inset;
-moz-box-shadow: 0px 0px 11px 15px rgba(34, 60, 80, 0.26) inset;
box-shadow: 0px 0px 11px 15px rgba(34, 60, 80, 0.26) inset;
}

.header_logo_flex{
   
}
.qqq{
display: flex;
  justify-content: space-evenly;
padding-top: 10px;

margin-left: auto;
margin-right: auto;
}

.head_but{
font-size: 15px;
border-radius: 20px;

border-color: rgb(242,221,168);
  color: black;
  box-shadow: 0 0 40px 40px rgb(242,221,168) inset, 0 0 0 0 rgb(242,221,168);
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}
.head_but:hover{
    box-shadow: 0 0 10px 0 rgb(156, 122, 35) inset, 0 0 10px 4px rgb(156, 122, 35);
}
.head_logo{
    width: 35px;
   padding-right: 6px;
}
.head_form{
    padding-right: 6px;
    padding-bottom: 6px;
}

header{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(242,221,168);
}
.head_glav_logo{
    width: 250px;
}
.logo_glav_flex{
    display: flex;
    justify-content: center;
}
.nav_menu{
    background-color: rgb(242,221,168);
}
.dws-menu{
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
    
}
.dws-menu a{
    color: black;
}
.dws-menu li {
    padding-left: 20px;
}
/* о музее */
.omyzee{
    font-size: 25px;
}
.rasp{
    font-size: 30px;
    text-align: center;
    padding-top: 20px;
}
.data{
    
    font-size: 35px;
    text-align: center;
    padding-bottom: 2%;
}
.adres{
    font-size: 20px;
    text-align: center;
    padding-top: 20px;
}

.karta{
    padding-bottom:2%;
    text-align: center;
}
.karta iframe{
    width: 350px;
    height: 200px;
}
/* отзывы */
.glav_otzivi{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.otzivi {
    border: 2px solid #ccc;
    background-color: #eee;
    border-radius: 5px;
    padding: 16px;
    margin: 20px 0;
    width: 1200px;
    text-align: center;
}

.otzivi::after {
    content: "";
    clear: both;
    display: table;
}

.otzivi img {
    float: left;
    border-radius: 50%;

}

.otzivi span {
    font-size: 15px;
    margin-right: 15px;
}
.otzivi p {
    font-size: 15px;
}
/* регистрация и вход */
.registr_zone{
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
  }
  .pole_registr{
    text-align: center;
    padding-top: 20px;
  }
  .registr_button{
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    margin: 5px 10px;
    border: 1px solid gray;
    border-radius: 10px;
    text-transform: uppercase;
    background-image: linear-gradient(to right, #9EEFE1 0%, #4830F0 51%, #9EEFE1 100%);
    background-size: 200% auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    transition: .5s;
  }
  .registr_button:hover{
    background-position: right center;
  }
}


