@media all and (max-width: 576px){
    .logo{
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-top: 30px;
        width: 300px;
        
    }
   
    .dws-menu *{
        margin-left: auto;
        margin-right: auto;
        border-radius: 15px;
    }
       .dws-menu ul{
        display: block;
        max-height: 0;
        transition: max-height 0.3s;
        width: 300px;
        text-align: center;
       }
       .dws-menu li>ul li ul{
        position: absolute;
        right: auto;
        top: auto;
       }
   
       .omyzee{
        padding-top: 420px;
        font-size: 20px;
        text-align: justify;
        margin-left: 20px;
        margin-right: 20px;
        text-indent: 30px; 
       
       }
       
    .omyzee_img{
        width: 200px;
        padding: 2px;
       }
    .omyzee_img_flex{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom:2%;
       } 
       footer{
        font-size: 15px;
        text-align: center;
        margin-top: auto;
        margin-bottom: auto;
        background: rgb(201,201,201); /* Old browsers */
        background: -moz-linear-gradient(top,  rgba(201,201,201,1) 0%, rgba(246,246,246,1) 2%, rgba(196,197,199,1) 98%, rgba(117,117,119,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  rgba(201,201,201,1) 0%,rgba(246,246,246,1) 2%,rgba(196,197,199,1) 98%,rgba(117,117,119,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  rgba(201,201,201,1) 0%,rgba(246,246,246,1) 2%,rgba(196,197,199,1) 98%,rgba(117,117,119,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    }
    .rasp{
        padding-top: 420px;
        font-size: 25px;
        text-align: center;
    }
    .data{
        
        font-size: 30px;
        text-align: center;
        padding-bottom: 2%;
    }
    .adres{
        padding-top: 420px;
        font-size: 20px;
        text-align: center;
    }
    
    .karta{
        padding-bottom:2%;
        text-align: center;
    }
    .karta iframe{
        width: 400px;
        height: 400px;
    }
    .bileti_ob{
        padding-top: 420px;
        font-size: 30px;
        text-align: center;
    }
    .bileti_lgota{
        font-size: 30px;
        text-align: center;
        font-style: italic;
    }
    .lgota_perechislenie{
        font-size: 20px;
        text-align: center;
        font-style: italic;
    }
    .lgota_mogty{
        font-size: 20px;
        text-align: center; 
        padding-bottom: 2%;
        
    }
    .maket_png{
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 5px;
        width: 350px;
    }
    .video{
        
        padding-bottom:2%;
        text-align: center;
    }
    .video iframe{
        width: 400px;
    }
    .maket_png_2{
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 15px;
        width: 350px; 
    }
    .carousel{
        padding-top: 500px;
    }
    .carousel-item{
        height: 750px;
        
    }
    .carousel-item img{
        height: 700px;
        
    }
    .carousel{
        z-index: 1;
    }
    .glav_otzivi{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 420px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .otzivi {
        border: 2px solid #ccc;
        background-color: #eee;
        border-radius: 5px;
        padding: 16px;
        margin: 20px 0;
        width: 1200px;
        text-align: center;
    }
    
    .otzivi::after {
        content: "";
        clear: both;
        display: table;
    }
    
    .otzivi img {
        float: left;
        margin-right: 20px;
        border-radius: 50%;
    }
    
    .otzivi span {
        font-size: 25px;
        margin-right: 15px;
    }
    .otzivi p {
        font-size: 25px;
    }
    .registration-cssave{
        padding-top: 420px;
    }
}


@media all and (max-width: 1200px){
    .logo{
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-top: 30px;
        width: 600px;
        
    }
   
    .dws-menu *{
        margin-left: auto;
        margin-right: auto;
        border-radius: 15px;
    }
       .dws-menu ul{
        display: block;
        max-height: 0;
        transition: max-height 0.3s;
        width: 400px;
        text-align: center;
       }
       .dws-menu li>ul li ul{
        position: absolute;
        right: auto;
        top: auto;
       }
   
       .omyzee{
        padding-top: 420px;
        font-size: 30px;
        text-align: justify;
        margin-left: 20px;
        margin-right: 20px;
        text-indent: 30px; 
       
       }
       
    .omyzee_img{
        width: 400px;
        padding: 2px;
       }
    .omyzee_img_flex{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom:2%;
       } 
       footer{
        font-size: 20px;
        text-align: center;
        margin-top: auto;
        margin-bottom: auto;
        background: rgb(201,201,201); /* Old browsers */
        background: -moz-linear-gradient(top,  rgba(201,201,201,1) 0%, rgba(246,246,246,1) 2%, rgba(196,197,199,1) 98%, rgba(117,117,119,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  rgba(201,201,201,1) 0%,rgba(246,246,246,1) 2%,rgba(196,197,199,1) 98%,rgba(117,117,119,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  rgba(201,201,201,1) 0%,rgba(246,246,246,1) 2%,rgba(196,197,199,1) 98%,rgba(117,117,119,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    }
    .rasp{
        padding-top: 420px;
        font-size: 30px;
        text-align: center;
    }
    .data{
        
        font-size: 35px;
        text-align: center;
        padding-bottom: 2%;
    }
    .adres{
        padding-top: 420px;
        font-size: 25px;
        text-align: center;
    }
    
    .karta{
        padding-bottom:2%;
        text-align: center;
    }
    .karta iframe{
        width: 800px;
        height: 700px;
    }
    .bileti_ob{
        padding-top: 420px;
        font-size: 30px;
        text-align: center;
    }
    .bileti_lgota{
        font-size: 30px;
        text-align: center;
        font-style: italic;
    }
    .lgota_perechislenie{
        font-size: 20px;
        text-align: center;
        font-style: italic;
    }
    .lgota_mogty{
        font-size: 20px;
        text-align: center; 
        padding-bottom: 2%;
        
    }
    .maket_png{
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 5px;
        width: 600px;
    }
    .video{
        
        padding-bottom:2%;
        text-align: center;
    }
    .video iframe{
        width: 850px;
    }
    .maket_png_2{
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 15px;
        width: 600px; 
    }
    .carousel{
        padding-top: 500px;
    }
    .carousel-item{
        height: 750px;
        
    }
    .carousel-item img{
        height: 700px;
        
    }
    .carousel{
        z-index: 1;
    }
    .glav_otzivi{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 420px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .otzivi {
        border: 2px solid #ccc;
        background-color: #eee;
        border-radius: 5px;
        padding: 16px;
        margin: 20px 0;
        width: 1200px;
        text-align: center;
    }
    
    .otzivi::after {
        content: "";
        clear: both;
        display: table;
    }
    
    .otzivi img {
        float: left;
        margin-right: 20px;
        border-radius: 50%;
    }
    
    .otzivi span {
        font-size: 25px;
        margin-right: 15px;
    }
    .otzivi p {
        font-size: 25px;
    }
    
    .registration-cssave{
        padding-top: 420px;
    }
    
}