body {  
    background-image: url(../image/fon.jpg);
    background-position: left bottom;
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed;
   font-family: 'Rubik', sans-serif;
   } 
.fon{
    width: 80%; 
     margin:auto;
     background-color: rgb(242,221,168);
     -webkit-box-shadow: 0px 0px 11px 15px rgba(34, 60, 80, 0.26) inset;
-moz-box-shadow: 0px 0px 11px 15px rgba(34, 60, 80, 0.26) inset;
box-shadow: 0px 0px 11px 15px rgba(34, 60, 80, 0.26) inset;
}

.header_logo_flex{
    display: flex;
  justify-content: flex-end; 
}
.qqq{
display: block;
}

.head_but{
font-size: 15px;
border-radius: 20px;

border-color: rgb(242,221,168);
  color: black;
  box-shadow: 0 0 40px 40px rgb(242,221,168) inset, 0 0 0 0 rgb(242,221,168);
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}
.head_but:hover{
    box-shadow: 0 0 10px 0 rgb(156, 122, 35) inset, 0 0 10px 4px rgb(156, 122, 35);
}
.head_logo{
    width: 35px;
   padding-right: 6px;
}
.head_form{
    padding-right: 6px;
    padding-bottom: 6px;
}

header{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(242,221,168);
}
.head_glav_logo{
    width: 250px;
}
.logo_glav_flex{
    display: flex;
    justify-content: center;
}
.nav_menu{
    background-color: rgb(242,221,168);
}
.dws-menu{
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
    
}
.dws-menu a{
    color: black;
}
.dws-menu li {
    padding-left: 20px;
}
 
  
   
   


