body {  
    background-image: url(../image/fon.jpg);
    background-position: left bottom;
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed;

   } 
.fon{
    width: 80%; 
     margin:auto;
     background-color: rgb(242,221,168);
     -webkit-box-shadow: 0px 0px 11px 15px rgba(34, 60, 80, 0.26) inset;
-moz-box-shadow: 0px 0px 11px 15px rgba(34, 60, 80, 0.26) inset;
box-shadow: 0px 0px 11px 15px rgba(34, 60, 80, 0.26) inset;
}


.header_logo_flex{
    display: flex;
  justify-content: flex-end; 
  
}

 .qqq{
    display: block;
 }
.head_but{
font-size: 15px;
border-radius: 20px;

border-color: rgb(242,221,168);
  color: black;
  box-shadow: 0 0 40px 40px rgb(242,221,168) inset, 0 0 0 0 rgb(242,221,168);
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}
.head_but:hover{
    box-shadow: 0 0 10px 0 rgb(156, 122, 35) inset, 0 0 10px 4px rgb(156, 122, 35);
}
.head_logo{
    width: 35px;
   padding-right: 6px;
}
.head_form{
    padding-right: 6px;
    padding-bottom: 6px;
}
.vipod_menu{

}
header{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.head_glav_logo{
    width: 250px;
}
.logo_glav_flex{
    display: flex;
    justify-content: center;
}
.but{
    padding-left: 15px;
}
.nav_menu{
    background-color: rgb(242,221,168);


}
   .dws-menu *{
    margin: 0;
    padding: 0;
   }
   .dws-menu ul,
   .dws-menu ol{
    list-style: none;
   }
   .dws-menu > ul{
    display: flex;
    justify-content: center;
   }
   .dws-menu > ul li{
    position: relative;
    z-index: 2;
   }
  
   .dws-menu > ul li a{
    display: block;
    background: rgb(201,201,201); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(201,201,201,1) 0%, rgba(246,246,246,1) 2%, rgba(196,197,199,1) 98%, rgba(117,117,119,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(201,201,201,1) 0%,rgba(246,246,246,1) 2%,rgba(196,197,199,1) 98%,rgba(117,117,119,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(201,201,201,1) 0%,rgba(246,246,246,1) 2%,rgba(196,197,199,1) 98%,rgba(117,117,119,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    padding: 15px 30px 15px 40px;
    font-size: 18px;
    color: #454547;
    text-decoration: none;
    text-transform:uppercase;
    z-index: 1;
   }
   .dws-menu li a:hover{
    background: rgb(224,225,229); 
    background: -moz-linear-gradient(top,  rgba(224,225,229,1) 0%, rgba(69,69,71,1) 2%, rgba(69,69,71,1) 98%, rgba(224,225,229,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(224,225,229,1) 0%,rgba(69,69,71,1) 2%,rgba(69,69,71,1) 98%,rgba(224,225,229,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(224,225,229,1) 0%,rgba(69,69,71,1) 2%,rgba(69,69,71,1) 98%,rgba(224,225,229,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    color: #ffffff;
    box-shadow: 1px 5px 10px -5px black;
    transition: all 0.3s ease;
   }
   .dws-menu li ul{
    position: absolute;
    min-width: 250px;
    display: none;
   }
   .dws-menu li > ul li{
    border: 1px solid #c7c8ca;
   }
   .dws-menu li > ul li a{
    padding: 10px;
    text-transform: none;
    background: #e4e4e5;
   }
   .dws-menu li > ul li ul{
    position: absolute;
    right: -150px;
    top: 0;
   }
   .dws-menu li:hover > ul{
    display: block;
   }
   @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&display=swap');
p{
    font-family: 'Montserrat', sans-serif;
}
a{
    font-family: 'Montserrat', sans-serif;
}
   
   


