/* omyzee в главная */
.shop_flex {
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom:2%;
    
}
.book{
max-width: 310px;
}
.book:hover{
    border: 1px solid black;
}
.book_img{
    display: block;
    margin-left: auto;
    margin-right: auto;
width: 300px;
padding-top: 5px;
}
.book_name{
font-size: 20px;
text-align: center;
}
.book_price{
font-size: 20px;
text-align: center;
}