.registr_zone{
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
}
.pole_registr{
  text-align: center;
  padding-top: 20px;
}
.registr_button{
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  margin: 5px 10px;
  border: 1px solid gray;
  border-radius: 10px;
  text-transform: uppercase;
  background-image: linear-gradient(to right, #9EEFE1 0%, #4830F0 51%, #9EEFE1 100%);
  background-size: 200% auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, .1);
  transition: .5s;
}
.registr_button:hover{
  background-position: right center;
}